streamlit
jupyter
langchain
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
langchain-text-splitters
langchain-mistralai
sentence-transformers
faiss-cpu
mistralai