div[data-testid="stVerticalBlock"] div:has(div.fixed-header) {
    text-align: center;
    position: sticky;
    top: 2.875rem;
    z-index: 999;
}

.chat-title{
    font-size: 50px;
    font-weight: bold;
    background-color:#ffffff;
    z-index: 999;
    text-align: center;
    position: sticky;
    top: 2.875rem;
}

.user-message, .assistant-message {
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user-message {
    text-align: right;
    background-color: #cfcfcf;
    border: 1px solid #444444;
    color: black;
    float: right;
}

.assistant-message {
    text-align: left;
    /*background-color: #e8f4ff;*/
    color: black;
    float: left;
    border: 1px solid #444444;
}

.stMainBlockContainer {
    max-width: 1100px;
    margin: 0 auto;
}

.important-metrics {
    border: 1px solid #1fa1e566;
    background-color: #a5eafc33;
    color: #31333f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.normal-metrics {
    border: 1px solid #aaaaaa;
    background-color: #f3f3f3;
    color: #31333f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.st-emotion-cache-arzcut.ea3mdgi2 {
    max-width: 1100px;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    .chat-title {
        color: #ffffff; /* White text for dark mode */
        background-color: #0e1117;
        font-size: 50px;
        font-weight: bold;
        z-index: 999;
        text-align: center;
        position: sticky;
        top: 2.875rem;
    }

    .user-message {
        color: #ffffff; /* White text */
        border: 1px solid #444444; /* Softer border for dark mode */
        background-color: #262730;
        float: right;
		text-align: right;
    }

    .assistant-message {
        color: #f1f1f1; /* White text */
        border: 1px solid #444444; /* Softer border for dark mode */
        background-color: #0e1117;
        float: left;
		text-align: left;
    }

    .important-metrics {
        color: #c8c8c8; /* Muted light gray for a softer emphasis */
        border: 1px solid #383c47; /* Subtle dark gray border with a hint of blue */
        background-color: #2e323d;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .normal-metrics {
        border: 1px solid #454d57;
        background-color: #262730;
        color: #c8c8c8;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

table {
    border-spacing: 0;
    overflow: hidden; /* Ensure rounded corners appear */
    width: 100%;
}
th, td {
    padding: 10px;
    text-align: center;
}
