div[data-testid="stVerticalBlock"] div:has(div.fixed-header) {
    text-align: center;
    position: sticky;
    top: 2.875rem;
    z-index: 999;
}

.chat-title{
    font-size: 50px;
    font-weight: bold;
    background-color:#ffffff;
    z-index: 999;
    text-align: center;
    position: sticky;
    top: 2.875rem;
}

.user-message, .assistant-message {
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user-message {
    text-align: right;
    background-color: #f1f1f1;
    color: black;
    float: right;
}

.assistant-message {
    text-align: left;
    background-color: #e8f4ff;
    color: black;
    float: left;
}

.stMainBlockContainer {
    max-width: 1100px;
    margin: 0 auto;
}

.important-metrics {
    border: 1px solid #1fa1e566;
    background-color:#a5eafc33;
    color:#096d99aa;
    border-radius:10px;
    padding:10px;
    margin-bottom:10px;
}

.normal-metrics {
    border: 1px solid #aaaaaa;
    background-color:#f3f3f3;
    color:#6f6f6f;
    border-radius:10px;
    padding:10px;
    margin-bottom:10px;
}

.st-emotion-cache-arzcut.ea3mdgi2 {
    max-width: 1100px;
}
